#mainNav{
    background-color: $blue-800;
    // Estilos del botón de menú
    .navbar-toggler{
        // border: 1px solid red;
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: white;
        border: 0;
        background-color: $yellow-500;
        @include heading-font;
    }
    .navbar-brand{
        // border: 1px red solid;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        @include script-font;
        &.active,
        &:active,
        &:focus,
        &:hover{
            color: $yellow-500;
        }
    }
    .navbar-nav{
        // border:solid red 1px;
        .nav-item{
            .nav-link{
                font-size: 90%;
                font-weight: 400;
                padding: 0.75em 0;
                letter-spacing: 1px;
                color: $white;
                @include heading-font;
                &.active,
                &:hover{
                    color: $yellow-500;
                }

            }
        }
    }
}
// media query
@media(min-width:992px){
    #mainNav{
        border: solid 1px red;
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-botton 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
        .navbar-brand{
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $blue-800;
            .navbar-brand {
              font-size: 1.25em;
              padding: 12px 0;
              color: $yellow-500;
            }
          }
    }
}